    .container {
        display: flex; 
        flex-basis: 1;
        justify-content: space-between; 
        gap: inherit;
        margin-block: inherit;
        
    }

    .box1 {
        width: 30%; 
        height: 100px; 
        background-color: lightblue; 
        border: 1px solid black; 
        box-sizing: border-box; 
       
    }

    .box2 {
        width: 30%; 
        height: 100px; 
        background-color: lightblue; 
        border: 1px solid black; 
        box-sizing: border-box; 
       
    }

    .box3 {
        width: 30%; 
        height: 100px; 
        background-color: lightblue; 
        border: 1px solid black; 
        box-sizing: border-box; 
       
    }