body{
    background-color: #08a7a7;
    font: normal 15 pt Arial;
}
header{
    color: white;
    text-align: center;
}
section{
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    height: 400px;
    margin: 0 auto;
    box-shadow: 4px 4px 10px black;
    text-align: center;
}
#btnVerificar {
  display: block;
  margin: 0 auto;
}
#res{
 gap: 35px;
 padding: 5px;
 display: flex;
 align-items: center;
}
img {
  display: flex;
  width: 250px;
  height: 250px;
  object-fit: cover; 
  border-radius: 50%;
  padding: 15px;

}
footer{
    color: white;
    text-align: center;
    font-style: italic;
}