* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Helvetica, sans-serif;
    font-size: 24px;
    line-height: 1.6;
    max-width: 13;

}

body {
  font-family: Helvetica, sans-serif;
  padding: 30px;
  background-color:#04394e;
}

.menu {
    display: flex;
    gap: 30px;
    background-color: #3c778a;
    height: 120vh;
}

.menu a {
   color: black;
   font-weight: 500;
   font-size: 24px;
   padding: 8px 16px;
   border-radius: 6px;
   transition: all 0.3s ease;
}