@import '/assets/css/base/normalize.css';
@import '/assets/css/base/variables.css';
@import '/assets/css/components/buttons.css';
@import '/assets/css/components/navbar.css';
@import '/assets/css/components/container.css';
@import '/assets/css/base/body.css';
@import '/assets/css/pages/found/card.css';
@import '/assets/css/components/partials/main-content.css';

.body {
    font-family: 'Arial', sans-serif;
    background: var(--gradient-bg);
    background-color:var(--gradient-bg);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    align-items: center;
    align-content: center ;
    justify-content: center;
    justify-items: center;

}

