
$bg:red;

.div{
    background-color:$bg;
 
}

$cor-primaria: #2980b9;
$cor-texto:#333;
$fonte-padrao:'Helvética';

body{

  font: 100% $font-stack;
  color: $primary-color;

}
// aninhamento serve para facilitar a visualização //
nav{
    height: 60px;
    background-color: #f2f2f2;

        ul{
           
            margin:0;
            padding:0;
        }
}

a{
    display: block;
    padding: 20px;
    text-decoration:none;

    &:hover{//O & referencia o seletor pai(neste caso,a)
        background-color: #ddd;
    }
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items:center;
}

.hero-section{
 @include flex-center;
 height: 10px;
}
//extend//
%mensagem-base{
    border: 1px solid #ccc;
    padding: 15px;
    color:#333;
}

.mensagem-sucesso{
    @extend %mensagem-base;
    border-color: green;
}

.mensagem-erro{
    @extend %mensagem-base;
    border-color: red;
}



