@import '/assets/css/global.css';
@import '/petFindSite/assets/css/base/variables.css';
@import '/petFindSite/assets/css/base/normalize.css';
@import '/petFindSite/assets/css/base/fonts.css';
@import '/assets/css/pages/index/partials/footer.css';
@import '/assets/css/components/navbar.css';
@import '/assets/css/pages/index/partials/main-content.css';


/* ===================== */
/*        VARIÁVEIS       */
/* ===================== */
:root {
  --primary-1: #667eea;
  --primary-2: #764ba2;

  --gradient-primary: linear-gradient(135deg, var(--primary-1) 0%, var(--primary-2) 100%);
  --gradient-button: linear-gradient(135deg, #c266ea 0%, var(--primary-2) 100%);
  --gradient-button-hover: linear-gradient(135deg, #ba66ea 0%, var(--primary-2) 100%);
  --gradient-bg: linear-gradient(135deg, #74c1e2, #310351);

  --border-radius: 10px;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


/* ===================== */
/*          LAYOUT        */
/* ===================== */

body {
  font-family: Arial, sans-serif;
  background: var(--gradient-bg);
  margin: 0;
  
  /* Mantém footer no fim da tela */
  min-height: 100vh;
  display: flex-end;
  flex-direction: column;
}

/* Conteúdo principal cresce e empurra o footer */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
}


/* ===================== */
/*     CAIXA DE LOGIN     */
/* ===================== */

.login-container {
  background: var(--gradient-primary);
  padding: 30px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  text-align: center;
  width: auto;
  height: auto;
}

.login-container h1,
.login-container h2 {
  margin-bottom: 20px;
  font-size: 22px;
  color:black;
}

.login-container input {
  width: 60%;
  padding: 12px;
  margin: 15px 0;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.login-container button {
  width: 30%;
  padding: 12px;
  background: var(--gradient-button);
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.login-container button:hover {
  background: var(--gradient-button-hover);
}

.mensagem {
  margin-top: 15px;
  font-weight: bold;
  color: white;
}
