@import './pages/index/partials/header.css';
@import './components/navbar.css';
@import './pages/index/partials/main-content.css';
@import './pages/index/partials/photos-preview.css';
@import './pages/index/partials/pet-card.css';
@import './pages/index/partials/results-section.css';
@import './pages/index/partials/search-section.css';
@import './pages/index/partials/footer.css';
@import '/petFindSite/assets/css/base/normalize.css';
@import '/petFindSite/assets/css/base/variables.css';
@import './base/fonts.css';