.body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;  
    align-items: center;
    align-content: center ;
    justify-content: center;
    justify-items: center;

}