:root {
  --gradient-primary: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  --gradient-button: linear-gradient(135deg, #c266ea 0%, #764ba2 100%);
  --gradient-button-hover: linear-gradient(135deg, #ba66ea 0%, #764ba2 100%);
  --gradient-bg: linear-gradient(135deg, #74c1e2, #310351);
  --border-radius: 10px;
  --shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

body {
  font-family: Arial, sans-serif;
  background: var(--gradient-bg);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
  
}

.container {
  background: var(--gradient-primary);
  padding: 30px;
  border-radius: 12px;
  box-shadow: var(--shadow);
  text-align: center;
}

.container h1,a {
  margin-bottom: 10px;
  font-size: 20px;
  color: #333;
}

.container h2 {
  margin-bottom: 30px;
  font-size: 20px;
  color: #333;
}

.container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  box-sizing: border-box;
}

.container button {
  width: 100%;
  padding: 10px;
  background: var(--gradient-button);
  border: none;
  color: #fff;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.container button:hover {
  background: var(--gradient-button-hover);
}

.mensagem {
  margin-top: 15px;
  font-weight: bold;
}