$cor-fundo-botao: #007bff;
$cor-texto-botao: white;
$cor-preco: green;
$cor-titulo: #333;
$bordas: 10px;
$padding-card: 20px;
$sombra: 0 2px 8px rgba(0, 0, 0, 0.1);

.produto-card {
  border: 1px solid #ddd;
  border-radius: $bordas;
  padding: $padding-card;
  width: 250px;
  box-shadow: $sombra;
  text-align: center;
  align-items: center;
  font-family: Arial, sans-serif;
  background-color: white;

  .produto-titulo {
    font-size: 1.5rem;
    color: $cor-titulo;
    margin-bottom: 10px;
  }

  .produto-preco {
    color: $cor-preco;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .produto-botao {
    background-color: $cor-fundo-botao;
    color: $cor-texto-botao;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($cor-fundo-botao, 10%);
    }
  }
}
